* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
}

nav {
    text-align: center;
    background-color: #1e9e9e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

main {
    background-color: #000000dd;
}

p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-style: oblique;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

/* section {
    width: 350px;
    float: left;
    padding: 10px;
} */



a {
    color: rgb(21, 3, 3);
    text-decoration: none;
    font-style: oblique;
}

a:hover {
    color: #00000077;
    text-decoration: none;
    font-style: oblique;
}


.interactive-box {
    width: 200px;
    height: 100px;
    border: 0px solid #0f0c0c;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3;
}

.interactive-box:hover {
    background-color: #000000;
    cursor: pointer;
}

body {
    background-size: cover;
    background-image: url(https://jpimg.com.br/uploads/2024/10/memphis-depay.jpg)
    
}

footer {
    background-color: #636363;
    color: rgb(0, 0, 0);
    clear: both;
    text-align: center;
    padding: 5px;
}

 h2{
    color: rgb(173, 181, 181);
    text-align: left;

  }

